<div class="main-content">
<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div>
            <h4>Profile List</h4>
            <span class="bar"></span>
            <div class="mt-4">
              <table class="table">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Sex</th>
                    <th>Category</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let profile of profiles">
                    <td>{{ profile.username }}</td>
                    <td>{{ profile.sexe }}</td>
                    <td>{{ profile.categorie }}</td>
                    <td>
                      <button class="btn btn-primary" (click)="selectProfile(profile)">Edit</button>
                      <button class="btn btn-danger" (click)="deleteProfile(profile.id)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> 
        <div class="col-md-4">
          <div *ngIf="selectedProfile">
            <h4>Edit Profile</h4>
            <span class="bar"></span>
            <div class="mt-4">
              <div class="custom-form">
                <form (ngSubmit)="updateProfile()">
                  <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" class="form-control" [(ngModel)]="selectedProfile.username" required>
                  </div>
                  <div class="form-group">
                    <label for="sex">Sex:</label>
                    <div class="form-check">
                      <input type="radio" name="sex" id="male" class="form-check-input" [(ngModel)]="selectedProfile.sexe" value="male" required>
                      <label for="male" class="form-check-label">Male</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" name="sex" id="female" class="form-check-input" [(ngModel)]="selectedProfile.sexe" value="female" required>
                      <label for="female" class="form-check-label">Female</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="category">Category:</label>
                    <select name="category" id="category" class="form-control" [(ngModel)]="selectedProfile.categorie" required>
                      <option value="">Select a category</option>
                      <option value="plombier">Plombier</option>
                      <option value="electricien">Electricien</option>
                      <option value="jardinier">Jardinier</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="photo">Photo profile:</label>
                    <input type="text" name="photo" id="photo" class="form-control" [(ngModel)]="selectedProfile.photoprofile" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div> 
    <div class="form-group">
        <hr>
        <label for="feedbacks"><h4>Feedbacks</h4></label>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Message</th>
              <th>Rating</th>
              <th>Created Date</th> 
              <th>Updated Date</th>
              <th>Username</th> 
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let feedback of selectedProfile.feedbackList">
              <td>{{ feedback.id }}</td>
              <td>{{ feedback.message }}</td>
              <td>{{ feedback.rating }}</td> 
              <td>{{ feedback.createdDate }}</td> 
              <td>{{ feedback.updatedDate}}</td>
              <td>{{ selectedProfile.username}}</td>
              <td><button class="btn btn-danger" (click)="deleteFeedback(feedback.id)">Delete</button></td>             
            </tr>
          </tbody>
        </table>
      </div>
  </section>
    <div class="settingSidebar">
      <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
      </a>
      <div class="settingSidebar-body ps-container ps-theme-default">
        <div class=" fade show active">
          <div class="setting-panel-header">Setting Panel
          </div>
          <div class="p-15 border-bottom">
            <h6 class="font-medium m-b-10">Select Layout</h6>
            <div class="selectgroup layout-color w-50">
              <label class="selectgroup-item">
                <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                <span class="selectgroup-button">Light</span>
              </label>
              <label class="selectgroup-item">
                <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                <span class="selectgroup-button">Dark</span>
              </label>
            </div>
          </div>
          <div class="p-15 border-bottom">
            <h6 class="font-medium m-b-10">Sidebar Color</h6>
            <div class="selectgroup selectgroup-pills sidebar-color">
              <label class="selectgroup-item">
                <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                  data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
              </label>
              <label class="selectgroup-item">
                <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                  data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
              </label>
            </div>
          </div>
          <div class="p-15 border-bottom">
            <h6 class="font-medium m-b-10">Color Theme</h6>
            <div class="theme-setting-options">
              <ul class="choose-theme list-unstyled mb-0">
                <li title="white" class="active">
                  <div class="white"></div>
                </li>
                <li title="cyan">
                  <div class="cyan"></div>
                </li>
                <li title="black">
                  <div class="black"></div>
                </li>
                <li title="purple">
                  <div class="purple"></div>
                </li>
                <li title="orange">
                  <div class="orange"></div>
                </li>
                <li title="green">
                  <div class="green"></div>
                </li>
                <li title="red">
                  <div class="red"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="p-15 border-bottom">
            <div class="theme-setting-options">
              <label class="m-b-0">
                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                  id="mini_sidebar_setting">
                <span class="custom-switch-indicator"></span>
                <span class="control-label p-l-10">Mini Sidebar</span>
              </label>
            </div>
          </div>
          <div class="p-15 border-bottom">
            <div class="theme-setting-options">
              <label class="m-b-0">
                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                  id="sticky_header_setting">
                <span class="custom-switch-indicator"></span>
                <span class="control-label p-l-10">Sticky Header</span>
              </label>
            </div>
          </div>
          <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
            <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
              <i class="fas fa-undo"></i> Restore Default
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>






