

<p>Notifications:</p>
<ul>
  
</ul>




<table class="table">
  <thead>
    <tr>
      <th>Notifications</th>
    </tr>
  </thead>
  <tbody>
  
      
    <tr>
      
        <div>
          <table>
            <th>Name</th>
            <th>Date</th>
            
            <tr *ngFor="let notification of notifications">
              <td>{{ notification.nameR }}</td>
              <td>{{ notification.dateReservetionR }}</td>
              
            </tr>
          </table>
          
         
        </div>


    </tr>
       
     
  </tbody>
</table>


