
<!-- General CSS Files -->
<link rel="stylesheet" href="/assets/assetsBack/css/app.min.css">
<!-- Template CSS -->
<link rel="stylesheet" href="/assets/assetsBack/css/style.css">
<link rel="stylesheet" href="/assets/assetsBack/css/components.css">
<!-- Custom style CSS -->
<link rel="stylesheet" href="/assets/assetsBack/css/custom.css">
<link rel='shortcut icon' type='image/x-icon' href='/assets/assetsBack/img/favicon.ico' />

<app-nav-bar-admin></app-nav-bar-admin>
<app-side-bar></app-side-bar>
<router-outlet></router-outlet>
<app-body-admin></app-body-admin>
<app-footer-admin></app-footer-admin>

 <!-- General JS Scripts -->
 <script src="/assets/assetsBack/js/app.min.js"></script>
 <!-- JS Libraies -->
 <script src="/assets/assetsBack/bundles/apexcharts/apexcharts.min.js"></script>
 <!-- Page Specific JS File -->
 <script src="/assets/assetsBack/js/page/index.js"></script>
 <!-- Template JS File -->
 <script src="/assets/assetsBack/js/scripts.js"></script>
 <!-- Custom JS File -->
 <script src="/assets/assetsBack/js/custom.js"></script>
