 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins" rel="stylesheet">
 <!-- Bootstrap core CSS -->
 <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

 <!-- Magnificpopup Css -->
 <link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">

 <!-- Bootstrap core CSS -->
 <link href="/assets/css/materialdesignicons.min.css" rel="stylesheet">
 <link href="/assets/css/fontawesome.css" rel="stylesheet">
 <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet">

 <!--Slider-->
 <link rel="stylesheet" href="/assets/css/owl.carousel.min.css"/> 
 <link rel="stylesheet" href="/assets/css/owl.theme.css"/> 
 <link rel="stylesheet" href="/assets/css/owl.transitions.css"/>
 <link rel="stylesheet" href="/assets/css/slick.css"/> 
 <link rel="stylesheet" href="/assets/css/slick-theme.css"/>  

 <!-- Custom styles for this template -->
 <link href="/assets/css/style.css" rel="stylesheet">
 <link href="/assets/css/menu.css" rel="stylesheet">
 <link href="/assets/css/default.css" rel="stylesheet">

 <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/6453d4106a9aad4bc578ebd5/1gvjn8ogb';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
<!--End of Tawk.to Script-->


<app-header-user></app-header-user>
 <router-outlet></router-outlet>
 <app-footer-user></app-footer-user>


   <!-- Back to top -->    
   <a href="#" class="back-to-top" id="back-to-top"> 
    <i class="mdi mdi-chevron-up"> </i> 
</a>
<!-- Back to top --> 

<!-- js placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Portfolio -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/isotope.js"></script>
<script src="/assets/js/portfolio-filter.js"></script> 
<!-- Carousel -->
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/owlcarousel.init.js"></script>
<script src="/assets/js/slick.min.js"></script> 
<script src="/assets/js/slick.init.js"></script> 
<!-- VIDEO ICON -->
<script src="/assets/js/magnific.init.js"></script>
<!-- COUNTER -->
<script src="/assets/js/counter.init.js"></script>
<!--custom script-->
<script src="/assets/js/app.js"></script>